<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ParkSmart</title>
    <link href="static\index.css" rel="stylesheet">
</head>
<body>
    <nav>       
        <ul>
            <li><a href="#home" class="logo"><h1>ParkSmart</h1></a></li>
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About Us</a></li>
            <li><a href="login.html">Login</a></li>
            <li><a href="register.html">Register</a></li>
        </ul>
    </nav>

    <div class="landingText" id="home">
        <div class="rev">REVOLUTIONIZING PARKING</div>
        <div class="ai">AI Enable car parking using OpenCV</div>
        <button >GET STARTED</button>
    </div>

    <div id="about"class= "about">ABOUT</div>
    <div class="aboutContent">
        <div class="aboutText">
            <div id="aboutMain">AI Enable Car Parking Using OpenCV</div>
            <p id="aboutPara">The Al-Enabled Car Parking System Utilizing OpenCV Technology is a cutting-edge project that aims to revolutionize the way parking lots operate. This system uses OpenCV, a popular computer vision library, to enable vehicles to park autonomously.</p>
            <ul>
                <li>The OpenCV library analyzes the footage and identifies the available parking spaces in the lot.</li>
                <li>The system is designed to be highly accurate, and it can detect small and large vehicles, even in low-light conditions.</li>
            </ul>
        </div>
        <div>
            <img src="../static/images/shutterstock_1014849688.jpg" alt="Underground parking"  class="aboutImage">
        </div>
    </div>
</body>
</html>