<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Responsive Login and Signup Form </title>
        <link rel="stylesheet" href="../static/register.css">           
                        
    </head>
    <body class="model">
        <nav>       
            <ul>
                <li><a href="" class="logo"><h1>AI Enable car parking using OpenCV</h1></a></li>
                <li><a href="index.html">Home</a></li>
                <li><a href="login.html">Logout</a></li>
            </ul>
        </nav>
        <section class="container forms">
            <div class="form login">
                <div class="form-content">
                    <header>Check the Parking Slot</header>
                    <form action="/predict.live">
                        <div class="field button-field">
                            <button type="submit">CHECK</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </body>
</html>