<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Responsive Login and Signup Form </title>
        <link rel="stylesheet" href="../static/register.css">       
    </head>
    <body>
        <body class="register">        
            <nav>       
                <ul>
                    <li><a href="" class="logo"><h1>AI Enable car parking using OpenCV</h1></a></li>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="login.html">Login</a></li>
                    <li><a href="register.html">Register</a></li>
                </ul>
            </nav>
        <section class="container forms">
            <div class="form login">
                <div class="form-content">
                    <header>Signup</header>
                    <form action="signup" method=POST>
                        <div class="field input-field">
                            <label for="name">Name</label><br>
                            <input type="name" name="username" placeholder="Enter Name" class="input">
                        </div><br>

                        <div class="field input-field">
                            <label for="email">Email</label><br>
                            <input type="email" placeholder="Enter Email" name="email" class="input">
                        </div><br>

                        <div class="field input-field">
                            <label for="password">Password</label><br>
                            <input type="password" placeholder="create password" name="password" class="password">
                        </div><br>

                        <div class="field button-field" >
                            <button type="submit">Signup</button>
                        </div>
                    </form>

                    <div class="form-link">
                        <span>Already have an account? <a href="login.html" class="link login-link">Login</a></span>
                    </div>
                </div>


            </div>

            
    </body>
</html>